/* Small tablets and larger mobile devices (481px - 768px) */
@media (min-width: 481px) {
   /* Scroll button */
    #myBtn {
   visibility: hidden;
  right: 0px;
 }
 /* Hero Section  */
.hero-section {
    width: 100%;
    height: 80vh;
    min-height: 600px;
  }
  .hero-container {
    padding: 1rem;
  }
  .hero-content {
    margin-top: 10rem;
  }
  .hero-title {
    font-size:2rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
  .hero-header{
    text-align: center;
  }
  .logo-img-1 {
    top: 2rem;

  justify-content: center;
  }

  .hero-arrow .arrow-container {
    height: 15vh;
  }
 /* What is CFIM360 section */
.what-is-cfim-section{
    padding: 50px 30px;
  }
  .section-title{
    font-size: 3rem;
  }
  .section-description {
    font-size: .8rem;
  }
  .section-description .quote {
    font-size: .9rem;
  }
  .triad-definitions {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
  }
  .triad-title {
    font-size: 2rem;
  }
  .triad-subtitle {
    font-size: 1rem;
  }
  .definition-card h4 {
    font-size: 1.25;
  }
 /* Pillars of cfim */
 .pillars-title{
    font-size: 3rem;
  }
  .pillars-subtitle {
    font-size: 1.25rem;
  }
  .pillars-grid {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .pillar-card {
    align-items: center;
    text-align: center;
  }
 /* What cfim does */
.what-cfim-does {
    padding: 0 10px;
  }
  .what-cfim-does-header .section-title{
    font-size: 3rem;
    text-align: center;
  }
  .what-cfim-does-header .section-subtitle{
    font-size: 1.25rem;
    text-align: center;
  }

  .illustration-container {
    width: 100vw;
    padding: 0 20px;
    height: 226px;
  }
  .text-column {
    gap: 1rem;
    padding: 0 10px;
  }
  .text-column p {
    font-size: .8rem;
  }
  ul li {
    font-size: .8rem;
  }
  .text-column .final-quote .cfimtag {
    text-align: center;
  }
 /* Why it matters */
.why-matters-section .section-title {
    font-size: 3rem;
  }
  .card-text p {
    font-size: .8rem;
  }
  .matters-grid {
    grid-template-columns: 1fr;
  }
 /* Applications of cfim */
.applications-section .section-title{
    font-size: 3rem;
  }
  .applications-section .section-subtitle {
    font-size: 1rem;
  }
  .app-card p {
    font-size: .8rem;
  }
  .applications-grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
 /* Research of cfim */
.research-section .section-title {
    font-size: 3rem;
  }
  .research-section .section-subtitle {
    font-size: 1rem;
  }
  .research-intro {
    font-size: 1rem;
   text-align: justify;
   text-justify: inter-word;
   hyphens: auto;
   text-align-last: left;
  }
  .layer-card h4 {
    font-size: 1.25rem;
  }
  .layer-card .layer-description {
    text-align: center;
  }
  .layer-card p {
    font-size: .8rem;
    text-align: justify;
    text-justify: inter-word;
   hyphens: auto;
  }
  .research-conclusion {
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
   hyphens: auto;
  }
 /* Histroy of Cybernetics*/
.history-columns {
    grid-template-columns: 1fr;
  }
  .history-section .section-title {
    font-size: 3rem;
    text-align: center;
  }
  .history-card p {
    font-size: .8rem;
    text-align:justify ;
    text-justify: inter-word;
    hyphens: manual;
    text-align-last: left;
  }
 /* About the creator */
 .about-content {
    flex-direction: column;
    align-items: center;
  }
  .creator-profile {
    width: 100%;
    max-width: 500px;
    align-items: center;
    text-align: center;
  }
  .creator-bio {
    max-width: 100%;
  }
.about-section .section-title {
    font-size: 3rem;
    text-align: center;
  }
  .creator-image { 
    height: 20vh;
    object-position: 80% 100%;
  }
  .social-links {
   justify-content: center;
  }
 /* Contact section */
.footer-title {
  font-size: 3rem;
}
.disclaimer-column h4 {
  font-size: 1.25rem;
}
.disclaimer-column p {
  font-size: .8rem;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  text-align-last: left;
}
.footer-logo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer-logo-1 {
  top:0;
  left: auto;
  padding-bottom: 50px;
}
.footer-logo img {
  /* max-width: 150px;  */
  height: auto;
}
.footer-socials {
  gap: 0;
}
.footer-socials h4 {
 visibility: hidden;
}
.contact-column {
    align-items: center;
  }
}

/* Tablets and small laptops (769px - 1024px) */
@media (min-width: 769px) {
  /* Hero Section  */

 /* What is CFIM360 section */

 /* Pillars of cfim */

 /* What cfim does */

 /* Why it matters */

 /* Applications of cfim */

 /* Research of cfim */

 /* Histroy of Cybernetics*/

 /* About the creator */

 /* Contact section */
}

/* Large desktops and high-resolution screens (1025px and up) */
@media (min-width: 1025px) {
  /* Hero Section  */
.hero-title {
    font-size:3rem;
  }
  
 /* What is CFIM360 section */
 .what-is-cfim-section{
    padding: 50px 30px;
  }
  .section-title{
    font-size: 3rem;
  }
  .section-description {
    font-size: 1rem;
  }
  .section-description .quote {
    font-size: .9rem;
  }
  .triad-definitions {
    flex-direction: row;
    align-items: flex-start;
    gap: 2.5rem;
    text-align: center;
  }
  .triad-title {
    font-size: 2rem;
  }
  .triad-subtitle {
    font-size: 1rem;
  }
  .definition-card h4 {
    font-size: 1.25;
  }
 /* Pillars of cfim */
.pillars-grid {
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
  }
  .pillars-subtitle {
    font-size: 1.25rem;
    padding: 0 ;
  }
  .pillar-card {
    align-items: center;
    text-align: center;
  }

 /* What cfim does */
  .what-cfim-does-content {
    flex-direction: column;
    align-items: center;
  }
.illustration-container {
  align-items: center;
    width: 80vw;
    padding: 0 100px;
    height: auto;
  }
 /* Why it matters */
.matters-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

 /* Applications of cfim */
  .applications-grid {
    grid-template-columns: repeat(2, 1fr);
  }
 /* Research of cfim */
  .research-layers {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    text-align: center;
  }
 /* Histroy of Cybernetics*/
.history-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .timeline-container {
    flex-direction: column;
    gap: 3rem;
  }
 /* About the creator */
  .about-content {
    flex-direction: column;
    align-items: center;
  }
  .creator-profile {
    width: 100%;
    max-width: 500px;
    align-items: center;
    text-align: center;
  }
  .creator-bio {
    max-width: 100%;
  }
 /* Contact section */
   .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
  }
  .contact-column {
    align-items: center;
  }
}

/* Extra-large screens (1440px and up) */
@media (min-width: 1440px) {
  /* Hero Section  */
.hero-title {
    font-size:3rem;
  }
  
 /* What is CFIM360 section */
 .what-is-cfim-section{
    padding: 50px 30px;
  }
  .section-title{
    font-size: 3rem;
  }
  .section-description {
    font-size: 1rem;
  }
  .section-description .quote {
    font-size: .9rem;
  }
  .triad-definitions {
    flex-direction: row;
    align-items: flex-start;
    gap: 2.5rem;
    text-align: center;
  }
  .triad-title {
    font-size: 2rem;
  }
  .triad-subtitle {
    font-size: 1rem;
  }
  .definition-card h4 {
    font-size: 1.25;
  }
 /* Pillars of cfim */
.pillars-grid {
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
  }
  .pillars-subtitle {
    font-size: 1.25rem;
    padding: 0 ;
  }
  .pillar-card {
    align-items: center;
    text-align: center;
  }

 /* What cfim does */
  .what-cfim-does-content {
    flex-direction: row;
    align-items: center;
  }
.illustration-container {
  align-items: center;
    width: 80vw;
    padding: 0 100px;
    height: auto;
  }
 /* Why it matters */
.matters-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

 /* Applications of cfim */
  .applications-grid {
    grid-template-columns: repeat(2, 1fr);
  }
 /* Research of cfim */
  .research-layers {
    display: flex;
    flex-direction: flex-start; 
    gap: 3rem;
    align-items: center;
    text-align: center;
  }
 /* Histroy of Cybernetics*/
.history-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .timeline-container {
    flex-direction: column;
    gap: 3rem;
  }
 /* About the creator */
  .about-content {
    flex-direction: column;
    align-items: center;
  }
  .creator-profile {
    width: 100%;
    max-width: 500px;
    align-items: center;
    text-align: center;
  }
  .creator-bio {
    max-width: 100%;
  }
 /* Contact section */
   .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
  }
  .contact-column {
    align-items: center;
  }
}


